<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.diabetes.repository.AutoMapper">
    <select id="autocomplete" parameterType="map" resultType="map">
        SELECT
            SEQ
            ,SEARCH_WORD
        FROM food
        WHERE SEARCH_WORD LIKE CONCAT('%',#{value},'%')
    </select>
</mapper>

<!--
WHERE SEARCH_WORD LIKE '%'|| #{value} || '%'
-->