/* 음식추가 받는 창 */
.food{
    position: relative;
    width: 570px;
    height: 300px;
    background-color: var(--grey);
    padding: 25px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.2);
    border-radius: 20px;

    overflow: auto;
}

.plus_food{
    font-size: 22px;
}

.food_name{
    width: 200px;
    height: 25px;
}

.food_g{
    width: 180px;
    height: 25px;
}

.warning{
    color: red;
    font-weight: bold;
}

.nutrient{
    font-size: 20px;
}

.result{
    position: relative;
    left: 100px;
    bottom: 200px;
    font-size: 30px;
    font-weight: bold;

}

.btn_ct{
    position: relative;
    padding: 10px 40px;
    background: var(--white);
    text-decoration: none;
    color: black;
    border: 3px solid var(--blue);
    border-radius: 6px;
}
.btn_ct:active {
    background-color: var(--blue);
}

.btn_result{
    position: relative;
    padding: 10px 20px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.btn_result:active {
    background-color: #25a4cd;
}

/* 게이지 */
.progress {
    width: 200px;
    height: 20px;
    appearance: none;
}
.progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
.progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);
}


/* 음식 추가 버튼 구현 */
#boxWrap {
  width: auto;
  height: auto;
}

#boxWrap : after {
  content: "";
  display: block;
  clear: both;
}

.button {
    position: relative;
    top: 10px;
    left: 260px;
    min-width: 35px;
    min-height: 35px;
    background-color:#5CB8E4;
    color: #fff;
    border:none;
    border-radius:10px;
  }

.button:active {
    background-color: #25a4cd;
}

/* 연관검색어 */
.ui-autocomplete{
    max-height: 300px;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* 전체 설정 */
input::-webkit-input-placeholder { font-size: 90%; text-align: center; }
input::-moz-placeholder { font-size: 90%; text-align: center; }
input:-ms-input-placeholder { font-size: 90%; text-align: center; }
input:-moz-placeholder { font-size: 90%; text-align: center; }
input::placeholder { font-size: 90%; text-align: center; }