
.food{
    position: relative;
    width: 500px;
    height: 250px;
    background-color: var(--grey);
    padding: 25px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.2);
    border-radius: 20px;

    overflow: auto;
}

.plus_food{
    font-size: 18px;
}

.food_name{
    width: 150px;
    height: 20px;
}
.food_g{
    width: 100px;
    height: 20px;
}

input::-webkit-input-placeholder { font-size: 90%; text-align: center; }
input::-moz-placeholder { font-size: 90%; text-align: center; }
input:-ms-input-placeholder { font-size: 90%; text-align: center; }
input:-moz-placeholder { font-size: 90%; text-align: center; }
input::placeholder { font-size: 90%; text-align: center; }

.warning{
    color: red;
    font-weight: bold;
}

.nutrient{
    font-size: 15px;
}

.result{
    position: relative;
    left: 150px;
    bottom: 200px;
    font-size: 30px;
    font-weight: bold;

}

/* 게이지 */
.progress {
    appearance: none;
}
.progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
.progress::-webkit-progress-value {
    border-radius:10px;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);

}