.locate {
     display: relative;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: center;
     margin: 20px;
}

.locate .frame{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.2);
    border-radius: 20px;
}

