.details{
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}
.details .form{
    position: relative;
    width: 90%;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.2);
    border-radius: 20px;
}