<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su.Balance</title>
    <link rel="stylesheet" href="/css/calculator.css">
    <link rel="stylesheet" href="/css/calculatorTest2.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>


<body id="food_calculator">
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="heart-circle-outline"></ion-icon></span>
                        <span class="title">Su.Balance</span>
                    </a>
                </li>
                <li>
                    <a href="/info">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">홈</span>
                    </a>
                </li>
                <li>
                    <a href="/calculator">
                        <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                        <span class="title">투여량 계산</span>
                    </a>
                </li>
                <li>
                    <a href="/record">
                        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                        <span class="title">혈당 일지</span>
                    </a>
                </li>
                <li>
                    <a href="/news">
                        <span class="icon"><ion-icon name="ear-outline"></ion-icon></span>
                        <span class="title">당뇨 뉴스</span>
                    </a>
                </li>
                <li>
                    <a href="/board">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">게시판</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- main -->
    <div class="main">
         <!-- table -->
         <div class="details">
             <div class="recentOrders">
                 <div class="cardHeader">
                     <h2 style="font-size:30px">투여량 테스트</h2>
                 </div>
                 <strong>첫 이용자들은 필수적으로 해야하는 투여량 테스트입니다.</strong><br>
                 <strong>평소 자신의 식단과 투여량, 2시간 뒤 혈당을 입력해 주십시오.</strong>
                 <br><br>
                 <form th:action="@{/calculatorTest}" th:method="post">
                     <div class = "food"> <!-- 음식 넣는 구역 -->
                         <div class="plus_food">음식1: &nbsp;&nbsp;
                             <input type=text name="foodlist[0].name" class="food_name" id='autoComplete' placeholder="이름"> &nbsp;&nbsp;&nbsp;
                             <input type=text name="foodlist[0].gram" class="food_g" placeholder="g">
                         </div>
                         <!-- 박스 추가되는 영역 -->
                         <div id="boxWrap"> </div>
                         <div class="btnWrap">
                             <button type="button" class="button">+</button>
                         </div>
                     </div>
                     <br>
                     <button type="submit" id="result_btn" class="btn_result">테스트</button>
                 </form>
             </div>
         </div>
    </div>
</body>

<script type="text/javascript" src="/js/calculator.js"></script>
<script type="text/javascript" src="/js/calculator2.js"></script>
</html>