<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su.Balance</title>
    <link rel="stylesheet" href="/css/calculator.css">
    <link rel="stylesheet" href="/css/calculator_2.css">
</head>




<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="heart-circle-outline"></ion-icon></span>
                        <span class="title">Su.Balance</span>
                    </a>
                </li>
                <li>
                    <a href="/info">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">홈</span>
                    </a>
                </li>
                <li>
                    <a href="/calculator">
                        <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                        <span class="title">투여량 계산</span>
                    </a>
                </li>
                <li>
                    <a href="/record">
                        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></ion-icon></span>
                        <span class="title">혈당 일지</span>
                    </a>
                </li>
                <li>
                    <a href="/news">
                        <span class="icon"><ion-icon name="ear-outline"></ion-icon></span>
                        <span class="title">당뇨 뉴스</span>
                    </a>
                </li>
                <li>
                    <a href="/board">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">게시판</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- main -->
    <div class="main">
         <!-- table -->
         <div class="details">
             <div class="recentOrders">
                 <div class="cardHeader">
                     <h2>투여량 계산</h2>
                 </div>
                 <br>
                 식사 종류 : &nbsp;&nbsp;&nbsp;
                 <a href="#" id="breakfast" class="btn">아침식사</a>&nbsp;&nbsp;&nbsp;
                 <a href="#" id="lunch" class="btn">점심식사</a>&nbsp;&nbsp;&nbsp;
                 <a href="#" id="dinner" class="btn">저녁식사</a>&nbsp;&nbsp;&nbsp;
                 <a href="#" id="etc" class="btn">&nbsp;&nbsp;기타&nbsp;&nbsp;</a>

                 <br><br><br>

                 <div class = "food"> <!-- 음식 넣는 구역 -->
                     <div class="plus_food">음식1: &nbsp;&nbsp;&nbsp;
                         <input type=text name="name" class="food_name" placeholder="이름"> &nbsp;&nbsp;&nbsp;&nbsp;
                         <input type=text name="gram" class="food_g" placeholder="g">
                     </div>
                 </div>

                <br>

                 <span class = "warning">ex) 채소의 비중이 너무 적습니다. 야채를 더 먹길 추천드려요</span>
                 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                 <span href="#" id="result_btn" class="btn">계산</span>
                 <a class="result">8단위 주사하십시오</a>

                 <br> <br> <br> <br> <br>

                 <div class ="nutrient">
                     탄수화물 :
                     <progress class="progress" id="carbohydrate" value="50" min="0" max="100"></progress>
                     &nbsp;&nbsp;&nbsp;&nbsp;단백질 :
                     <progress class="progress" id="protein" value="30" min="0" max="100"></progress>
                     &nbsp;&nbsp;&nbsp;&nbsp;지방 :
                     <progress class="progress" id="province" value="80" min="0" max="100"></progress>
                 </div>
             </div>
         </div>
    </div>
</body>





<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
<script>
    $('#deptAdd').click(function(){
        $('.write-popup').css('display', 'block');
    });
    $('.btn-cancel').click(function(){
        $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function(){
        location.reload();//새로 고침
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) => {item.classList.remove('hovered')});
        this.classList.add('hovered');
    }
    list.forEach((item) => {item.addEventListener('mouseover',activeLink)});

    function getBoard(){
        $('.update-popup').css('display', 'block');
    }
</script>
<script src="/js/dept.js"></script>
</html>