<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Su.Balance</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="navigation">
  <ul>
    <li>
      <a href="#">
        <span class="icon"><i class="fa-sharp fa-solid fa-hotel"></i></span>
        <span class="title">Su.Balance</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fa-solid fa-users"></i></span>
        <span class="title">투여량 계산</span>
      </a>
    </li>
    <li>
      <a href="news.html">
        <span class="icon"><i class="fa-solid fa-sitemap"></i></span>
        <span class="title">당뇨 뉴스</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><i class="fa-solid fa-folder-open"></i></span>
        <span class="title">커뮤니티</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
        <span class="title">로그 아웃</span>
      </a>
    </li>
  </ul>
</div>
</div>
<!-- main -->
<div class="main">
  <!-- cards -->
  <div class="cardBox">
    <div class="card">
      <div>
        <div id="studentsCnt" class="numbers"></div>
        <div class="cardName">메뉴 1</div>
      </div>
      <div class="iconBx">
        <i class="fa-solid fa-users"></i>
      </div>
    </div>
    <div class="card">
      <div>
        <div id="boardCnt" class="numbers"></div>
        <div class="cardName">메뉴 2</div>
      </div>
      <div class="iconBx">
        <ion-icon name="book-outline"></ion-icon>
      </div>
    </div>
    <div class="card">
      <div>
        <div id="writerCnt" class="numbers"></div>
        <div class="cardName">메뉴 3</div>
      </div>
      <div class="iconBx">
        <i class="fa-solid fa-sitemap"></i>
      </div>
    </div>
    <div class="card">
      <div>
        <div id="viewsCnt" class="numbers"></div>
        <div class="cardName">메뉴 4</div>
      </div>
      <div class="iconBx">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
    </div>
  </div>
<div class="container">
  <div class="write-popup">
    <div class="new">
      <div class="input-box">
        <label for="i_empno">이름 : </label>
        <input id="i_empno" type="text" placeholder="사용할 이름를 입력하세요...">
      </div>
      <div class="input-box">
        <label for="i_ename">키 : </label>
        <input id="i_ename" type="text" placeholder="키를 입력하세요...">
      </div>
      <div class="input-box">
        <label for="i_job">몸무게 : </label>
        <input id="i_job" type="text" placeholder="몸무게를 입력하세요...">
      </div>
      <div class="input-box">
        <label for="i_sal">ISR : </label>
        <input id="i_sal" type="number" placeholder="ISR을 단위로 입력하세요...">
      </div>
      <div class="input-box">
        <label for="i_sal">목표혈당 : </label>
        <input id="i_sal" type="test" placeholder="목표혈당을 입력하세요...">
      </div>
      <div class="btn-area">
        <a href="#" class="btn-cancel">취소</a>
        <a id="empSubmit" href="#" class="btn-success" onclick="setEmp()">등록</a>
      </div>
    </div>
  </div>
  <div class="cardHeader">
    <a href="#" class="btn" id="empAdd">정보 등록</a>
  </div>
</div>
</body>
</html>
