<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su.Balance</title>
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/info2.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="heart-circle-outline"></ion-icon></span>
                        <span class="title">Su.Balance</span>
                    </a>
                </li>
                <li>
                    <a href="/info">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">홈</span>
                    </a>
                </li>
                <li>
                    <a href="/calculator">
                        <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                        <span class="title">투여량 계산</span>
                    </a>
                </li>
                <li>
                    <a href="/record">
                        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></ion-icon></span>
                        <span class="title">혈당 일지</span>
                    </a>
                </li>
                <li>
                    <a href="/news">
                        <span class="icon"><ion-icon name="ear-outline"></ion-icon></span>
                        <span class="title">당뇨 뉴스</span>
                    </a>
                </li>
                <li>
                    <a href="/board">
                        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                        <span class="title">게시판</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- main -->
    <div class="main">
         <!-- table -->
         <div class="details">

             <div class="recentOrders">
                 <div class="cardHeader">
                     <h2 style="font-size:30px">메인 화면</h2>
                 </div>

             </div>
         </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
<script>
    $('#deptAdd').click(function(){
        $('.write-popup').css('display', 'block');
    });
    $('.btn-cancel').click(function(){
        $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function(){
        location.reload();//새로 고침
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) => {item.classList.remove('hovered')});
        this.classList.add('hovered');
    }
    list.forEach((item) => {item.addEventListener('mouseover',activeLink)});

    function getBoard(){
        $('.update-popup').css('display', 'block');
    }
</script>
<script src="/js/dept.js"></script>
</html>