<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>logIn</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
</head>
<body>
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- 회원가입 시작 -->
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <div class="form sign-up">
                    <form th:action="@{/login}" th:method="post">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" name="userId" placeholder="아이디">
                        </div>
                        <div class="input-group">
                            <i class='bx bx-mail-send'></i>
                            <input type="email" name="userEmail" placeholder="이메일">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="userPassword" placeholder="비밀번호">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="userPassword2" placeholder="비밀번호 재입력">
                        </div>
                        <button type="submit">
                            회원가입
                        </button>
                    </form>
                    <p>
                    <span>
                        계정이 이미 있으신가요?
                    </span>
                        <b onclick="toggle()" class="pointer">
                            로그인
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <!-- 회원가입 끝! -->

        <!-- 로그인 페이지 -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">

                    <form th:action="@{/real_login}" th:method="post">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" name="login_userId" placeholder="아이디">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="login_userPassword" placeholder="비밀번호">
                        </div>
                        <button type="submit">
                            로그인
                        </button>
                    </form>

                    <p>
                        <span>
                        계정이 없으신가요?
                        </span>
                        <b onclick="toggle()" class="pointer">
                            회원가입
                        </b>
                    </p>
                </div>
            </div>
            <div class="form-wrapper">

            </div>
        </div>
        <!-- 로그인 페이지 끝! -->
    </div>
    <!-- END FORM SECTION -->


    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2>
                    Su.Balance
                </h2>

            </div>
            <div class="img sign-in">

            </div>
        </div>
        <!-- END SIGN IN CONTENT -->

        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="img sign-up">

            </div>
            <div class="text sign-up">
                <h2>
                    회원가입
                </h2>

            </div>
        </div>
        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
    <script rel="script" type="text/javascript" src="/js/home.js"></script>
</div>
</body>
</html>