<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su.Balance</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="heart-circle-outline"></ion-icon></span>
                    <span class="title">Su.Balance</span>
                </a>
            </li>
            <li>
                <a href="/info">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">홈</span>
                </a>
            </li>
            <li>
                <a href="/calculator">
                    <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                    <span class="title">투여량 계산</span>
                </a>
            </li>
            <li>
                <a href="/record">
                    <span class="icon"><ion-icon name="calendar-outline"></ion-icon></ion-icon></span>
                    <span class="title">혈당 일지</span>
                </a>
            </li>
            <li>
                <a href="/news">
                    <span class="icon"><ion-icon name="ear-outline"></ion-icon></span>
                    <span class="title">당뇨 뉴스</span>
                </a>
            </li>
            <li>
                <a href="/board">
                    <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                    <span class="title">게시판</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- main -->
<div class="main">
    <!-- cards -->
    <div class="cardBox">
        <div class="card">
            <div>
                <div id="studentsCnt" class="numbers"></div>
                <div class="cardName">메뉴 1</div>
            </div>
            <div class="iconBx">
                <i class="fa-solid fa-users"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div id="boardCnt" class="numbers"></div>
                <div class="cardName">메뉴 2</div>
            </div>
            <div class="iconBx">
                <ion-icon name="book-outline"></ion-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div id="writerCnt" class="numbers"></div>
                <div class="cardName">메뉴 3</div>
            </div>
            <div class="iconBx">
                <i class="fa-solid fa-sitemap"></i>
            </div>
        </div>
        <div class="card">
            <div>
                <div id="viewsCnt" class="numbers"></div>
                <div class="cardName">메뉴 4</div>
            </div>
            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>
    </div>
    <!-- table -->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Gunnuu님의 혈당 일지</h2>
            </div>
            <table>
                <thead>
                <tr>
                    <th>날 짜</th>
                    <th>아침</th>
                    <th></th>
                    <th>점심</th>
                    <th></th>
                    <th>저녁</th>
                    <th></th>
                    <th>특이 사항</th>
                    <th></th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>7월</th>
                    <th>투여량</th>
                    <th>식후혈당</th>
                    <th>투여량</th>
                    <th>식후혈당</th>
                    <th>투여량</th>
                    <th>식후혈당</th>
                    <th>ex)혈당이 밀림</th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>1</th>
                    <th>
                        <div class="input-box">
                        <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>2</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>3</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>4</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>5</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>6</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>7</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>8</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>9</th>
                 <th>
                    <div class="input-box">
                        <input id="i_empno" type="number">
                    </div>
                </th>
                <th>
                    <div class="input-box">
                        <input id="i_empno" type="text">
                    </div>
                </th>
                <th>
                    <div class="input-box">
                        <input id="i_empno" type="number">
                    </div>
                </th>
                <th>
                    <div class="input-box">
                        <input id="i_empno" type="text">
                    </div>
                </th>
                <th>
                    <div class="input-box">
                        <input id="i_empno" type="number">
                    </div>
                </th>
                <th>
                    <div class="input-box">
                        <input id="i_empno" type="text">
                    </div>
                </th>
                <th>
                    <div class="input-box">
                        <input id="i_empno" type="text">
                    </div>
                </th>
            </tr>
            </thead>
                <thead>
                <tr>
                    <th>10</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>11</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>12</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>13</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
                <thead>
                <tr>
                    <th>14</th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="number">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                    <th>
                        <div class="input-box">
                            <input id="i_empno" type="text">
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
            <div class="pagination">
                <a>이전</a>
                <a>1</a>
                <a>2</a>
                <a>3</a>
                <a>4</a>
                <a>5</a>
                <a>다음</a>
            </div>
        </div>
    </div>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            *{
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
    <div id="listArea"></div>
    <br>
    <center>
        <button
                type="button"
                    style="color: #36b9cc; background:white; font-size:1em; border-radius:0.5em; padding:3px 10px;"
                id="drawGraph">혈당 추이 그래프 확인하기
        </button>
    </center>
    <div id="chart_div"></div>
    </body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        // 1. html 데이터 추출 후 화면 출력
        $.ajax({
            url :`/getList`,
            type : "get",
            success : function(res){
                //console.log(res);
                //console.log($("#listArea").html());
                for(var i = 0; i < res.length-2; i++){
                    //console.log(res[i]);
                    //console.log(res[i].day);
                    //console.log(res[i].menu);
                    $("#listArea").append(`<br /> <div class="dayWrap" id="day${i}"> <h4 class="day">${res[i].day}</h4> <ul id="day${i}Menu"> </ul> </div>`);
                    //console.log(res[i].menu.length);
                    for(var i2 = 0; i2 < res[i].menu.length; i2++){
                        let dayNm = `#day${i}Menu`;
                        //console.log(dayNm);
                        $(dayNm).append(
                            "<li><span>" +
                            res[i].menu[i2] + "</span>" +
                            `<select name="day${i}menu${i2}" id="day${i}menu${i2}">` +
                            '<option>0</option>' +
                            '<option>1</option>' +
                            '<option>2</option>' +
                            '<option>3</option>' +
                            '<option>4</option>' +
                            '<option>5</option>' +
                            '<option>6</option>' +
                            '</select>' +
                            "</li>"
                        );
                    }
                }
            }
        });

        // 2. 그래프 그리기
        $("#drawGraph").click(function(){

            // 평균 및 요일 리스트
            var listAreaDiv = $("#listArea").find("div");
            var day = $("#listArea").find("div").find("h4");
            var total = 0;
            var avg = 0;
            var arr = [];
            var finalArr = [];
            //console.log(li);
            //console.log(day.eq(0).text());
            //console.log("listAreaDiv.length : " + listAreaDiv.length);

            for(let j = 0; j < listAreaDiv.length; j++){
                var divLi = listAreaDiv.eq(j).find("li");
                //console.log(divLi);
                //console.log("divLi.length : " + divLi.length);
                for(let i = 0; i < divLi.length; i++){
                    //console.log(li.eq(i).find("select option:selected").val());
                    //console.log(typeof(li.eq(i).find("select option:selected").val()));
                    var numVal = Number(divLi.eq(i).find("select option:selected").val());
                    //console.log(typeof(numVal));
                    //console.log(numVal);
                    total += numVal;
                }
                avg = total/divLi.length;
                arr.push(day.eq(j).text());
                arr.push(Math.ceil(avg));
                //console.log(arr);
                finalArr.push(arr);
                arr = [];
                avg = 0;
                total = 0;
                //console.log(finalArr);
            }
            //console.log(finalArr);
            //console.log(finalArr[0][0]);
            //console.log(total);
            //console.log(avg);


            // 그래프 라이브러리
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawBackgroundColor);

            function drawBackgroundColor() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', '요일');
                data.addColumn('number', '평균혈당');
                data.addRows(finalArr);

                var options = {
                    hAxis: {
                        title: '요일'
                    }
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }

        });

        // 3. 엑셀 다운로드
        $("#drawExcel").click(function(){

            // 3.1. 리스트 생성
            var weekList = [];
            var tmpList = [];
            for(let i = 0; i < $(".day").length; i++){

                // 3.1.1. 요일 담기
                tmpList.push($(".day").eq(i).text());

                // 3.1.2. 메뉴 담기
                var ulFindLiLen = $("ul").eq(i).find("li").length;
                for(let j = 0; j < ulFindLiLen; j++){
                    // /console.log($("ul").eq(i).find("span").eq(j).text());
                    tmpList.push($("ul").eq(i).find("span").eq(j).text());
                }
                tmpList.push('');
                tmpList.push('평균');
                weekList.push(tmpList);
                tmpList = [];

            }
            console.log(weekList);

            // 2.1. li 중 가장 큰 수 찾기
            // var maxLiLen = 0;
            // for(let i = 0; i < $(".dayWrap").length; i++){
            //   //console.log($(".dayWrap").eq(i).find("li"));
            //   var liLen = $(".dayWrap").eq(i).find("li").length;
            //   //console.log(liLen);
            //   if(maxLiLen < liLen){
            //     maxLiLen = liLen;
            //   }
            // }


            // 3.2. 서버 전송
            $.ajax({
                url :`/drawExcel`,
                type : "POST",
                data : {excelData : weekList},
                success : function(){

                }
            });

        });


    </script>
    </html>
</div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/5f6c1918e3.js" crossorigin="anonymous"></script>

<script>
    $('#empAdd').click(function(){
        $('.write-popup').css('display', 'block');
    });
    $('.btn-cancel').click(function(){
        $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function(){
        location.reload();//새로 고침
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink(){
        list.forEach((item) => {item.classList.remove('hovered')});
        this.classList.add('hovered');
    }
    list.forEach((item) => {item.addEventListener('mouseover',activeLink)});

    function getBoard(){
        $('.update-popup').css('display', 'block');
    }
</script>
<script src="/js/script.js"></script>
